@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family:  'Roboto Slab', serif;
}

.output{
	height: 205px;
	width: 85%;
	background-color: whitesmoke;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 5px;
	overflow: scroll;
}

#exampleFormControlInput1{
	width: 85%;
}
.formWrapper{
	margin-left: 15%;
}
.heading{
	text-align: center;
	color: #3a86ff;
	font-weight: bolder;
}

@media (max-width: 768px) {
	.output{
		height: 200px;
		width: 90%;
		background-color: whitesmoke;
		padding: 10px;
		border: 1px solid grey;
		border-radius: 5px;
	}
	.formWrapper{
		margin-left: 10%;
	}
	#exampleFormControlInput1{
		width: 90%;
	}
	.heading{
		margin-top: 8%;
		margin-left: 20%;
		margin-bottom: 5%;
	}
}

#copyBtn {
  display: block;
  width: 20%;
  border: none;
  background-color: #3a86ff;
  color: white;
  padding: 12px 26px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#copyBtn:hover {
  background-color: #2874A6;
  color: ghostwhite;
}

#copySuccessMsg{
	display:none;	
	text-align: center;
}



#seoContent{
  color: #616A6B;
  font-family:  'Roboto Slab', serif;
}

h3 #seoHeader{
  text-align: center;
}

#seoIcon{
  font-size: 110px;
  margin: 2% 40%;

}

