@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
body{
  background: whitesmoke;
}
.drag-area{
  border: 4px dashed #3a86ff;
  height: 400px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1% auto;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #3a86ff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #3a86ff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #3a86ff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #3a86ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*compress btn styles and drag area design for mobile device*/

@media (max-width: 768px) {
  .drag-area{
    border: 4px dashed #3a86ff;
    height: 400px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2% auto;
  }
  .drag-area header{
    font-size: 20px;
    font-weight: 500;
    color: #3a86ff;
  }
}

#compress {
  display: block;
  width: 40%;
  border: none;
  background-color: #3a86ff;
  color: white;
  padding: 12px 26px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  margin-left: 30%;
  font-weight: 500;
  border-radius: 2px;
}

#compress:hover {
  background-color: #2874A6;
  color: ghostwhite;
}

.heading{
  widh: 100%;
  text-align: center;
  color:#3a86ff ;
  margin: 3% auto;

}