@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif;
}
body{
  background: whitesmoke;
}
.drag-area{
  border: 2.5px dashed #3a86ff;
  height: 380px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1% auto;
  background-color:#f2f3f4  ;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #3a86ff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #3a86ff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #3a86ff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #3a86ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#compress {
  display: block;
  width: 30%;
  border: none;
  background-color: #3a86ff;
  color: white;
  padding: 12px 26px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#compress:hover {
  background-color: #2874A6;
  color: ghostwhite;
}

/*compress btn styles and drag area design for mobile device*/

@media (max-width: 768px) {
  .drag-area{
    border: 2px dashed #3a86ff;
    width: 312px;
    height: 240px;
  }
  .drag-area header,.drag-area span{
    display: none;
  }
  #compress{
    width: 70%;
    margin: 0 auto;
  }
  .drag-area .icon{
    font-size: 70px;
    margin-bottom: 3%;
  }
}

.heading{
  widh: 100%;
  text-align: center;
  color:#3a86ff ;
  margin: 3% auto;

}

#seoContent{
  color: #616A6B;
  font-family:  'Roboto Slab', serif;
  text-align: center;
}

h3 #seoHeader{
  text-align: center;
}

#seoIcon{
  font-size: 90px;
  margin-bottom: 4%;
}
