@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif;
}

#head{
  color: #616A6B ;
}
#wrapper{
   margin: 10% auto;
   text-align: center;
}

#myProgress {
  width: 80%;
  background-color: #ddd;
  border-radius:20px;
  margin: auto;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #3a86ff;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius:20px;
}


#download {
  display: block;
  width: 30%;
  border: none;
  background-color: #3a86ff;
  color: white;
  padding: 12px 26px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  margin: 1% auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#download:hover {
  background-color: #2874A6;
  color: ghostwhite;
}


#cmprsdImg{
  margin: 0 37%;
}

#silentMsg{
  color: #AEB6BF;
  text-align: center;
}

#statusFlag{
  display: none;
}
#errorImage{
  width: 100%;
  text-align: center;
}
#resultTable{
    width: 60%;
    margin: 0 auto;
}


@media(max-width: 768px){
  #download {
    display: block;
    width: 40%;
    border-radius: 3px;
    background-color: #3a86ff;
    color: white;
    padding: 6px 6px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: 5% auto;
  }
}

#seoContent{
  color: #616A6B;
  font-family:  'Roboto Slab', serif;
  text-align: center;
}

h3 #seoHeader{
  text-align: center;
}

#seoIcon{
  font-size: 90px;
  margin-bottom: 4%;
}
