@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
  background-image: url("../assets/home-loan-USA.jpg");
  background-repeat: no-repeat;
  background-size: 100% 22.5%;
}
#background{
  background-color: rgb(255,255,255,0.87);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}



.container #section1{
  padding: 5%;
}

.container #section2{
  padding: 5%;
}

#SIPheading{
  width: 100%;
  text-align: center;
  color: #3a86ff;
  font-weight: bolder;
}

input[type=text] {
  width: 23%;
  padding: 1% 2%;
  float: right;
  box-sizing: border-box;
  border: 1px solid #EAEDED;
  color: #3a86ff;
  font-weight: bolder;
  background-color: #D6EAF8;
  outline: none;
  margin-bottom: 2%;
}

input[type=text]:focus {
  border: 1.5px solid #3a86ff;
}

span{
  margin-left: 30%;
}

#results{
  font-weight: 600;
  color: #3a86ff;
}


#section3{
  padding: 0 15%;
}

.notice{
  color: #EC7063;
  text-align: center;
}
@media (max-width: 768px) {
  #section3{
    padding: 0 0;
  }
  body{
    background-size: 130% 11.5%;
  }
 
}

#seoContent{
  color: #616A6B;
  font-family: 'PT Sans', sans-serif;
}
