@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#main-content{
  border: 1px solid #E5E7E9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../assets/sip-calculator-geekyprofessor2.jpg");
  background-size: 80% 110%;
  background-repeat: no-repeat;
}

.container #section1{
	background-color: rgb(255, 255, 255,0.8);
	padding: 5%;
}
.container #section2{
	background-color: rgb(255, 255, 255,0.8);;
}

#SIPheading{
  width: 100%;
  text-align: center;
  color: #3a86ff;
  font-weight: bolder;
  font-family: 'PT Sans', sans-serif ;
}

input[type=text] {
  width: 20%;
  padding: 1% 2%;
  float: right;
  box-sizing: border-box;
  border: 1px solid #EAEDED;
  color: #3a86ff;
  font-weight: bolder;
  background-color: #D6EAF8;
  outline: none;
  margin-bottom: 2%;
}

input[type=text]:focus {
  border: 1.5px solid #3a86ff;
}

#rangeSlider{
	position: relative;
}

span{
  margin-left: 30%;
}

#child1{
  display: inline-block;
}

#child2{
  display: inline-block;
  margin-left: 35%;
  font-weight: 600;
  color: #3a86ff;
}

#myChart1{
  margin-top:8%;
}
#section3{
  padding: 0 15%;
}

.notice{
  color: #EC7063;
  text-align: center;
}


#seoContent{
  color: #616A6B;
  font-family: 'PT Sans', sans-serif;
}


#results{
  font-weight: 600;
  color: #3a86ff;
}

@media (max-width: 768px) {
  #section3{
    padding: 0 2%;
  }
  #main-content{
    background-size: 150% 57%;
  }

}

